@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelify {
  font-family: var(--font-pixelify);
}

.card {
  /* clip-path: polygon(
    0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px
  ); */
  border-radius: 10px;
}

.crossed-out {
  position: relative;
  display: inline-block; /* Keeps the effect limited to text width */
}

.crossed-out::after {
  content: "";
  position: absolute;
  top: 50%; /* Center the line vertically */
  left: -4px;
  width: 120%; /* Slightly wider to cover full text */
  height: 1.5px; /* Thickness of the line */
  background-color: black; /* Color of the line */
  transform: rotate(-20deg); /* Creates the diagonal strike-through */
  transform-origin: center;
  pointer-events: none; /* Ensures it doesn’t interfere with text selection */
}

textarea:focus, input:focus, select:focus{
  outline: none;
  box-shadow: none;
}

/* #drawing-board {
  transform: scale(2,2)
} */