@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/asfalt-dark.png");
  background-color: #faefe4;
  background-repeat:repeat;
}

.pixelify {
  font-family: var(--font-pixelify);
}

.thick-shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.asfalt {
  background-image: url('/billie-holiday.png');
}

.card {
  /* clip-path: polygon(
    0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px
  ); */
  border-radius: 10px;
}

.crossed-out {
  position: relative;
  display: inline-block; /* Keeps the effect limited to text width */
}

.crossed-out::after {
  content: "";
  position: absolute;
  top: 50%; /* Center the line vertically */
  left: -4px;
  width: 120%; /* Slightly wider to cover full text */
  height: 1.5px; /* Thickness of the line */
  background-color: black; /* Color of the line */
  transform: rotate(-20deg); /* Creates the diagonal strike-through */
  transform-origin: center;
  pointer-events: none; /* Ensures it doesn’t interfere with text selection */
}

textarea:focus, input:focus, select:focus{
  outline: none;
  box-shadow: none;
}

/* #drawing-board {
  transform: scale(2,2)
} */

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --c:no-repeat radial-gradient(farthest-side,black 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}
.loader::before {    
  content:"";
  position: absolute;
  inset:0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg,black 0 90deg);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
  border-radius: 50%;
}
@keyframes l18 { 
  100%{transform: rotate(.5turn)}
}

.loader {
  transform: scale(0.5)
}

.loading {
  color: rgb(0,0,0,0.0001);
}